{% extends 'reader_index.html' %}

{% block content %}
<p>{{ books|length }} 种书</p>
<form action="{{ url_for('reader_search') }}" method="post">
    书籍号:<input type="text" name="id" autocomplete="off" required>
    <input class="btn" type="submit" name="submit" value="搜索">
</form>
<h2>图书详情</h2>
<table>
    <tr>
        <th>编号</th>
        <th>书名</th>
        <th>作者</th>
        <th>出版社</th>
        <th>借阅</th>
    </tr>
    {% for book in books %}
        <tr>
            <td>{{ book.id }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.writer }}</td>
            <td>{{ book.press }}</td>
            <td>
                {% if book.id in borrowed_book_ids %}
                    <a class="disbtn" onclick="return alert('你已借阅本书，无法再借阅')">借阅</a>
                {% else %}
                    <form class="inline-form" method="post" action="{{ url_for('is_borrow', book_id=book.id) }}">
                        <input class="btn" type="submit" name="borrow" value="借阅">
                    </form>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}