<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>管理端</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
</head>
<body>
    {% for message in get_flashed_messages() %}
        <div class="alert">{{ message }}</div>
    {% endfor %}
    <h1>欢迎使用管理员端</h1>
    <nav>
        <ul>
            <li><a href="{{ url_for('book_manage') }}">图书管理</a></li>
            <li><a href="{{ url_for('user_manage') }}">读者管理</a></li>
            <li><a href="{{ url_for('borrow_manage') }}">借阅管理</a></li>
            <li><a href="{{ url_for('admin_manage') }}">个人信息修改</a></li>
            <li><a href="{{ url_for('logout') }}">登出</a></li>
        </ul>
    </nav>
    {% block content %}{% endblock %}
    <footer>
        <small>&copy; 2024 <a href="https://github.com/RaccoonJWX/WebLearn2">RaccoonJWX</a></small>
    </footer>
</body>
</html>
