{% extends 'admin_index.html' %}

{% block content %}
<h2>搜索结果</h2>
    <table>
        <tr>
            <th>用户名</th>
            <th>密码</th>
            <th>修改信息</th>
            <th>借书详情</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.password }}</td>
                <td><a href="{{ url_for('user_edit', id=user.name) }}">修改信息</a></td>
                <td><a href="{{ url_for('user_detail', id=user.name) }}">借书详情</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}